<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排班表格</title>
    #parse('common/path-css.vm')
    #parse('common/path-js.vm')
    <script src="$path/static/js/scheduleForm.js" type="text/javascript"></script>

    <style>
        .status{
            left:0;
            top:0;
            width: 20px;
            height:20px;
        }
    </style>
</head>
<body>
<!-- 右侧内容 start -->
<div class="content-header" style="overflow:visible;">
    <div class="float-left">
        <a class="btnDefault active" href="#tab1" onclick="zbftn()" data-toggle="tab">周表</a>
        <a class="btnDefault" href="#tab2" onclick="ybftn()" data-toggle="tab">月表</a>
        <div class="tab-content float-left">
            <div id="tab1" class="tab-pane active">
                <div class="form_line">
                    <label>时间段</label>
                    <select id="dateSelec" name="dateSelect">
                        <option value="一周">一周</option>
                        <option value="两周">二周</option>
                    </select>
                    <div class='input-group datetimepicker'>
                        <input type='text' name="startAt" id="startAt" class="form-control"/>
                        <em class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </em>
                    </div>
                    <span>至</span>
                    <div class='input-group datetimepicker'>
                        <input type='text' name="endAt" id="endAt" class="form-control"/>
                        <em class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </em>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-pane">
                <div class="form_line">
                    <label>时间段</label>
                    <div class='input-group datetimepicker month'>
                        <input type='text' class="form-control" name="monthDate" id="monthDate"/>
                        <em class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" float-right">
        <div class="form_line">
            <label>站区</label>
            <select name="stationArea" id="stationAreaQuery">
                <option value="">请选择</option>
                #foreach($group in $!groups)
                    <option value="$!group.groupCode">$!group.groupName</option>
                #end
            </select>
        </div>
        <div class="form_line">
            <label>站点</label>
            <select name="station" id="stationQuery">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="form_line">
            <label>岗位</label>
            <select name="postName" id="postName">
                <option value="站务员">站务员</option>
                <option value="替班员">替班员</option>
            </select>
        </div>
        <div class="search-input">
            <span class="icon-5"></span>
            <input type="text" name="queryData" id="queryData" placeholder="姓名/编号">
        </div>
        <a class="btnDefault bgBlue queryBtn" onclick="queryBtn()" href="javascript:;">查询</a>
        <a class="btnDefault" href="javascript:;" onclick="myPrint()">导出</a>
        <a class="btnDefault" href="javascript:;" onclick="mySinglePrint()">导出个人</a>

    </div>
    <div class="clear"></div>
</div>
<!-- 右侧内容 end -->
<!-- 表格 start -->
<div class="wrapper">
    <div class="heading">
        <ul class="float-right">
            <li><a class="btnDefault bgGreen" href="javascript:;" id="btnToggle" >显示颜色</a></li>
            <li><span class="yellow"></span>假期</li>
            <li><span class="pink"></span>班次变更</li>
            <li><span class="blue"></span>临时安排</li>
            <li><span class="deepRed"></span>矿工缺勤</li>
            <li><span class="green"></span>补班加班</li>
            <li><span class="deepGreen"></span>替班</li>
        </ul>
    </div>
    <div id="print">
        <div class="schedule">
            <table class="scheduleForm" style="display: none;">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th class="dark"></th>
                    <th class="dark"></th>
                    <th class="dark"></th>
                </tr>
                <tr>
                    <th>姓名</th>
                    <th>岗位</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期天</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期天</th>
                    <th class="dark">计划工时</th>
                    <th class="dark">实际工时</th>
                    <th class="dark">假期</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- 表格 end -->
<div class="mask"><img src="$path/static/img/loading.gif"></div>
<!-- 备注信息 -->
<div id="remarks" class="hidden">
    <p class="head">旷工</p>
    <p class="con">2017年4月11日</p>
    <p class="con">备注：因个人原因请假一天</p>
    <ul class="editRecord">
        <li>
            <em></em>
            <p>2017-4-11 14：23：32</p>
            <p>曹骏一对此条状态进行了创建</p>
        </li>
    </ul>
</div>
<!-- 右键菜单 -->
<div id="rightMenu" class="hidden">
    <a href="#editHoliday" data-toggle="modal" data-target="#editHoliday">假期编辑</a>
    <a href="#lingXing" data-toggle="modal" data-target="#lingXing">零星假编辑</a>
    <a href="#yeditHoliday" onclick="yinitReplaceShift()" data-toggle="modal" data-target="#yeditHoliday">有薪假期编辑</a>
    <a href="#shiftChange" data-toggle="modal" data-target="#shiftChange">班次变更</a>
    <a href="#provisionalDisposition" data-toggle="modal" data-target="#provisionalDisposition">临时安排</a>
    <a href="#minersAbsence" data-toggle="modal" data-target="#minersAbsence">旷工缺勤</a>
    <a href="#overtimeWork" data-toggle="modal" data-target="#overtimeWork">补班加班</a>
    <a href="#replaceShift" onclick="initReplaceShift()" data-toggle="modal" data-target="#replaceShift">替班</a>
    <a href="#leaveShift" onclick="initReplaceShift()" data-toggle="modal" data-target="#leaveShift">调离</a>
    <a class="cancelHandle" href="javascript:;">撤销</a>
</div>

<!-- 假期编辑 -->
<div class="modal" id="editHoliday" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">假期编辑</h4>
            </div>
            <div class="modal-body">
                <input id="minDate" type="hidden">
                <form class="form-container" id="editHolidayForm">
                    <div class="form_line">
                        <input name="userId" type="hidden">
                        <input name="scheduleInfoId" type="hidden">
                        <input name="logId" id="logId" type="hidden">
                        <input name="logType" type="hidden" value="假期编辑">
                        <label>假期类型</label>
                        <select name="detailType">
                            <option>病假/病</option>
                            <option>事假/事</option>
                            <option>婚假/婚</option>
                            <option>丧假/丧</option>
                            <option>探亲假/探</option>
                            <option>生育津贴假/产1</option>
                            <option>企业延长产假/产2</option>
                            <option>男方陪产假/产陪</option>
                            <option>计生假/计</option>
                            <option>工伤假/工</option>
                            <option>旷工假/旷</option>
                            <option>搬家假/搬</option>
                            <option>出差假/差</option>
                            <option>迟到/迟</option>
                            <option>早退/早退</option>
                            <option>调休/调</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>假期时间</label>
                        <div class='input-group datetimepicker'>
                            <input type='text' class="form-control" name="startAt"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                        <span>至</span>
                        <div class='input-group datetimepicker'>
                            <input type='text' name="endAt" class="form-control"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="editHoliday()">假期上报</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 零星假期 -->
<div class="modal" id="lingXing" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">零星假期编辑</h4>
            </div>
            <div class="modal-body">
                <input id="minDate" type="hidden">
                <form class="form-container" id="lingXingForm">
                    <div class="form_line">
                        <input name="userId" type="hidden">
                        <input name="scheduleInfoId" type="hidden">
                        <input name="logId" id="logId" type="hidden">
                        <input name="logType" value="零星假" type="hidden">
                    </div>
                    <div class="form_line">
                        <label>假期时间</label>
                        <div class='input-group datetimepicker'>
                            <input type='text' class="form-control" name="startAt"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                        <span>至</span>
                        <div class='input-group datetimepicker'>
                            <input type='text' name="endAt" class="form-control"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="lingXing()">假期上报</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 有薪假期编辑 -->
<div class="modal" id="yeditHoliday" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">有薪假期编辑</h4>
            </div>
            <div class="modal-body">
                <input id="minDate" type="hidden">
                <form class="form-container" id="yeditHolidayForm">
                    <div class="form_line">
                        <input name="userId" type="hidden">
                        <input name="scheduleInfoId" type="hidden">
                        <input name="logId" id="logId" type="hidden">
                        <label>假期类型</label>
                        <select name="logType">
                            <option>年假/年</option>
                            <option>其他假/其</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>假期时间</label>
                        <div class='input-group datetimepicker'>
                            <input type='text' class="form-control" name="startAt"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                        <span>至</span>
                        <div class='input-group datetimepicker'>
                            <input type='text' name="endAt" class="form-control"/>
                            <em class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </em>
                        </div>
                    </div>
                    <div class="form_line">
                        <label>站区</label>
                        <select name="stationArea" id="yrsStationAreaQuery">
                            <option value="">请选择</option>
                            #foreach($group in $!groups)
                                <option value="$!group.groupCode">$!group.groupName</option>
                            #end
                        </select>
                    </div>
                    <div class="form_line">
                        <label>站点</label>
                        <select name="station" id="yrsStationQuery">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <input name="stationArea" id="yrsStationArea" type="hidden">
                        <input name="station" id="yrsStation"  type="hidden">
                        <input name="groupName" id="yrsGroupName"  type="hidden">
                        <label>替班人员</label>
                        <select name="detailType" id="yreplaceUserSelect">
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="yeditHoliday()">假期上报</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 班次变更 -->
<div class="modal" id="shiftChange" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">班次变更</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="shiftChangeForm">
                    <input name="userId" type="hidden">
                    <input name="scheduleInfoId" type="hidden">
                    <input name="logType" type="hidden" value="班次变更">
                    <div class="form_line">
                        <label>班次</label>
                        <select name="detailType">
                            <option>早班</option>
                            <option selected>中班</option>
                            <option>晚班</option>
                            <option>休息</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="shiftChange()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 临时安排 -->
<div class="modal" id="provisionalDisposition" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">临时安排</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="provisionalDispositionForm">
                    <input name="userId" type="hidden">
                    <input name="scheduleInfoId" type="hidden">
                    <input name="logType" type="hidden" value="临时安排">
                    <div class="form_line">
                        <label>临时安排类型</label>
                        <select name="detailType">
                            <option>培训</option>
                            <option>演练</option>
                            <option>会议</option>
                            <option>活动</option>
                            <option>考试</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>额外占用工时</label>
                        <select name="timeAt">
                            <option value="1">1小时</option>
                            <option value="2">2小时</option>
                            <option value="3">3小时</option>
                            <option value="4">4小时</option>
                            <option value="5">5小时</option>
                            <option value="6">6小时</option>
                            <option value="7">7小时</option>
                            <option value="8">8小时</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="provisionalDisposition()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 旷工缺勤 -->
<div class="modal" id="minersAbsence" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">旷工缺勤</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="minersAbsenceForm">
                    <input name="userId" type="hidden">
                    <input name="scheduleInfoId" type="hidden">
                    <input name="logId" id="logId" type="hidden">
                    <input name="logType" type="hidden" value="旷工缺勤">
                    <div class="form_line">
                        <label>缺勤工时</label>
                        <select name="timeAt">
                            <option value="1">1小时</option>
                            <option value="2">2小时</option>
                            <option value="3">3小时</option>
                            <option value="4">4小时</option>
                            <option value="5">5小时</option>
                            <option value="6">6小时</option>
                            <option value="7">7小时</option>
                            <option value="8">8小时</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="minersAbsenceForm()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 补班加班 -->
<div class="modal" id="overtimeWork" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">补班加班</h4>
            </div>
            <div class="modal-body">
                <form class="form-container clear" id="overtimeWorkForm">
                    <input name="userId" type="hidden">
                    <input name="scheduleInfoId" type="hidden">
                    <input name="logId" id="logId" type="hidden">
                    <input name="logType" type="hidden" value="补班加班">
                    <div class="form_line">
                        <label>加班工时</label>
                        <select name="timeAt">
                            <option value="1">1小时</option>
                            <option value="2">2小时</option>
                            <option value="3">3小时</option>
                            <option value="4">4小时</option>
                            <option value="5">5小时</option>
                            <option value="6">6小时</option>
                            <option value="7">7小时</option>
                            <option value="8">8小时</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="overtimeWork()">确定</a>
                <button class="btn btn-cancel" href="javascript:;" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 替班 -->
<div class="modal" id="replaceShift" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">替班</h4>
            </div>
            <div class="modal-body">
                <input id="minDate" type="hidden">
                <form class="form-container" id="replaceShiftForm">
                    <div class="form_line">
                        <label>站区</label>
                        <select name="stationArea" id="rsStationAreaQuery">
                            <option value="">请选择</option>
                            #foreach($group in $!groups)
                                <option value="$!group.groupCode">$!group.groupName</option>
                            #end
                        </select>
                    </div>
                    <div class="form_line">
                        <label>站点</label>
                        <select name="station" id="rsStationQuery">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form_line">
                        <input name="userId" type="hidden">
                        <input name="scheduleInfoId" type="hidden">
                        <input name="logId" id="logId" type="hidden">
                        <input name="stationArea" id="rsStationArea" type="hidden">
                        <input name="station" id="rsStation"  type="hidden">
                        <input name="groupName" id="rsGroupName"  type="hidden">
                        <input name="logType" type="hidden" value="替班">
                        <label>替班人员</label>
                        <select name="detailType" id="replaceUserSelect">
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="editReplaceShift()">替班</a>
                <a class="btn btn-red" href="javascript:;" onclick="editReplaceShiftDel()">取消</a>
            </div>
        </div>
    </div>
</div>

<!-- 调离 -->
<div class="modal" id="leaveShift" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close icon-1" data-dismiss="modal" aria-label="Close"></a>
                <h4 class="modal-title">调离</h4>
            </div>
            <div class="modal-body">
                <input id="minDate" type="hidden">
                <form class="form-container" id="leaveShiftForm">
                    <div class="form_line">
                        <label>站区</label>
                        <select name="stationArea" id="leStationAreaQuery">
                            <option value="">请选择</option>
                            #foreach($group in $!groups)
                                <option value="$!group.groupCode">$!group.groupName</option>
                            #end
                        </select>
                    </div>
                    <div class="form_line">
                        <label>站点</label>
                        <select name="station" id="leStationQuery">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form_line hidden">
                        <label>岗位</label>
                        <input type="hidden" id="lePostName" value="站务员">
                    </div>
                    <div class="form_line">
                        <input name="userId" type="hidden">
                        <input name="scheduleInfoId" type="hidden">
                        <input name="logId" id="logId" type="hidden">
                        <input name="stationArea" id="leStationArea" type="hidden">
                        <input name="station" id="leStation"  type="hidden">
                        <input name="groupName" id="leGroupName"  type="hidden">
                        <input name="logType" type="hidden" value="调离">
                        <label>上岗人员</label>
                        <select name="detailType" id="leplaceUserSelect">
                        </select>
                    </div>
                    <div class="form_line">
                        <label>备注</label>
                        <textarea name="remark"></textarea>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-confirm" href="javascript:;" onclick="leaveShift()">调离</a>
                <a class="btn btn-red" href="javascript:;" onclick="editLeaveShiftDel()">取消</a>
            </div>
        </div>
    </div>
</div>
<script>
    /*站区站点关联查询*/
    $("#stationAreaQuery").change(function () {
        var _oneId = this.value;
        var two_obj = $('#stationQuery');
        var _html = "<option value=''>请选择</option>";
        $.getJSON('$path/group/querySubNodes', {oneCode: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + "<option value='" + obj.groupCode + "'>" + obj.groupName + "</option>";
                }
            }
            two_obj.html(_html);
        });
    }).change();
    //        打印
    function myPrint() {
        Alert('success', "数据导出中请稍候")
        console.log("打印方法开始:");
        location.href = "$path/printXiZhiMenSchedule?startAt=" + $("#startAt").val()
                + "&endAt=" + $("#endAt").val() + "&monthDate=" + $("#monthDate").val()
                + "&queryData=" + $("#queryData").val() + "&scheduleType=0" + "&station="
                + $("#stationQuery").val() + "&stationArea=" + $("#stationAreaQuery").val();
        console.log("打印方法结束:");
    }
    //        打印个人
    function mySinglePrint() {
        Alert('success', "数据导出中请稍候")
        if(!$("#stationQuery").val()){
            Alert("导出失败","未选择站点");
            return ;
        }
        location.href = "$path/printSingleXiZhiMenSchedule?startAt=" + $("#startAt").val() + "&endAt=" + $("#endAt").val() + "&monthDate=" + $("#monthDate").val() + "&queryData=" + $("#queryData").val() + "&scheduleType=0" + "&station=" + $("#stationQuery").val() + "&stationArea=" + $("#stationAreaQuery").val();
    }
</script>
#*初始化日期*#
<script>
    $(function () {
        zbftn();
        //假期初始化日期控件
        $("#editHoliday .datetimepicker").datetimepicker({
            format: "YYYY-M-D",
            date: new Date(),
            useCurrent: true
        });
        $("#editHoliday .datetimepicker").eq(0).find("input").blur(function () {
            $("#editHoliday .datetimepicker").eq(1).data("DateTimePicker").minDate($(this).val());
        })
        //零星假期初始化日期控件
        $("#lingXing .datetimepicker").datetimepicker({
            format: "HH",
            date: new Date(),
            useCurrent: true
        });
        $("#lingXing .datetimepicker").eq(0).find("input").blur(function () {
            $("#lingXing .datetimepicker").eq(1).data("DateTimePicker").minDate($(this).val());
        })
        //有薪假期初始化日期控件
        $("#yeditHoliday .datetimepicker").datetimepicker({
            format: "YYYY-M-D",
            date: new Date(),
            useCurrent: true
        });
        $("#yeditHoliday .datetimepicker").eq(0).find("input").blur(function () {
            $("#yeditHoliday .datetimepicker").eq(1).data("DateTimePicker").minDate($(this).val());
        })
        //初始化日期控件
        $("#replaceShift .datetimepicker").datetimepicker({
            format: "HH:mm",
            useCurrent: false
        });
        $("#replaceShift .datetimepicker").eq(0).find("input").blur(function () {
            $("#editHoliday .datetimepicker").eq(1).data("DateTimePicker").minDate($(this).val());
        })

        //周表月表选择
        $(".content-header .float-left .btnDefault").click(function () {
            $(this).addClass("active").siblings(".btnDefault").removeClass("active");
        })
        //周表选择一周或者两周自动赋值第二个日期框
        $("#startAt").blur(function () {
            endDate();
        })
        $("#dateSelec").change(function () {
            endDate();
        })
    })
    function endDate() {
        var dateSelec = $("#dateSelec").val();
        var val = new Date($("#startAt").val());
        if (dateSelec == '一周') {
            var endDate = new Date((val / 1000 + 6 * 86400) * 1000);
        } else {
            var endDate = new Date((val / 1000 + 13 * 86400) * 1000);
        }
        var endAt = endDate.getFullYear() + '-' + ( endDate.getMonth() + 1) + '-' + endDate.getDate();
        console.log(endAt)
        $("#endAt").val(endAt);
    }
</script>
#*查询及撤销*#
<script>
    zbftn();
    function zbftn() {
        $("#monthDate").val('');
        var val = new Date();
        var startAt = val.getFullYear() + '-' + ( val.getMonth() + 1) + '-' + val.getDate();
        $("#startAt").parent().datetimepicker({
            format: "YYYY-M-D",
            date: startAt,
            useCurrent: true
        });
        var endDate = new Date((val / 1000 + 6 * 86400) * 1000);
        var endAt = endDate.getFullYear() + '-' + ( endDate.getMonth() + 1) + '-' + endDate.getDate();
        $("#endAt").parent().datetimepicker({
            format: "YYYY-M-D",
            date: endAt,
            useCurrent: true
        });
//        queryBtn();
    }

    function ybftn() {
        $("#endAt").val('');
        $("#startAt").val('');
        $("#monthDate").parent().datetimepicker({
            format: "YYYY-M",
            date: new Date(),
            useCurrent: true
        });
        queryBtn();
    }

    function queryBtn() {
        $("#btnChange").hide();
        $('.mask').show();
        //初始化排班表
        var station=$("#stationQuery").val();
        var postName=$("#postName").val();
        if(station==''){
            Alert("fail", "需选择站点");
            $('.mask').hide();
            return;
        }
        var stationArea=$("#stationAreaQuery").val();
        if(stationArea==''){
            Alert("fail", "需选择站区");
            $('.mask').hide();
            return;
        }
        //Alert('success', "数据加载中请稍候")
        jQuery.ajax({
            type: "get",
            url: "$path/scheduleFormData?startAt=" + $("#startAt").val() + "&endAt=" + $("#endAt").val() + "&monthDate=" + $("#monthDate").val() + "&queryData=" + $("#queryData").val() + "&scheduleType=0" + "&station=" + $("#stationQuery").val() + "&stationArea=" + $("#stationAreaQuery").val()+"&postName="+postName,
            data: null,
            dataType: "json",
            error: function (xmlHttpReq, status) {
                Alert("fail", "网络错误");
                $('.mask').hide();
            },
            success: function (data) {
                var target = $(".scheduleForm");
                $(target).show();
                var rightMenu = [];
                var arr = [];
                var d = new Date();
                var today = new Date(d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate());

                for (var i = 0; i < data.length; i++) {
                    var thead = '';
                    //遍历排班表标题栏
                    thead = '<tr><th rowspan="2">姓名</th><th rowspan="2">岗位</th>';
                    for (var j = 0; j < data[i].scheduleInfoList.length; j++) {
                        var date = new Date(data[i].scheduleInfoList[j].scheduleDate);
                        var day = (date.getMonth() + 1) + '.' + date.getDate();
                        thead += '<th>' + day + '</th>';
                        var dataDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                        if (date < today) {
                            rightMenu.push('');
                            arr.push('');

                        } else {
                            rightMenu.push('rightMenu');
                            arr.push(dataDate)
                        }
                    }
                    thead += '<th colspan=11>总计:' + data[i].scheduleInfoList.length + '天</th></tr>';
                    thead += '<tr>';
                    for (var j = 0; j < data[i].scheduleInfoList.length; j++) {
                        thead += '<th>' + data[i].scheduleInfoList[j].scheduleWeek + '</th>';
                    }
                    thead += '<th>计划工时</th><th>实际工时</th><th>结余</th>';
                    thead += '</tr>';
                    target.find("thead").html(thead);
                    break;
                }
                //遍历排班表数据
                var tbody = '';
                var Length=0;
                var cha=0;
                for (var i = 0; i < data.length; i++){
                    if(Length<data[i].scheduleInfoList.length){
                        Length=data[i].scheduleInfoList.length;
                    }else{
                        if (data[i].scheduleInfoList[0].userLeave==1){
                            cha=Length-data[i].scheduleInfoList.length;
                        }
                    }
                }

                for (var i = 0; i < data.length; i++) {
                    tbody += '<tr><td class="userName" tdType="' + data[i].userId + '">' + data[i].userName + '</td>';
                    tbody += '<td>' + data[i].postName + '</td>';
                    var jhgs = 0;
                    for (var j = 0; j < Length; j++) {
                        var bool=true;
                        if(data[i].scheduleInfoList[0].userLeave==1){
                            for(var k=0;k<Length-data[i].scheduleInfoList.length&&j==0;k++){
                                tbody += '<td style="position: relative" tdType=shift serialNumber=" " shiftName="" colorStyle="" class="" data-logId="" colorCode="" data-scheduleInfoId="" data-userId="" data-totalAt="' + 0+ '" data-shiftId=data-stationArea="" data-station="" data-date=""</td>';
                            }
                            bool=false;
                        }
                        if(data[i].scheduleInfoList[j]!=='' && data[i].scheduleInfoList[j]){
                            var color = "";
                            var clz="";
                            var ifLeave = data[i].scheduleInfoList[j].ifLeave;
                            if(ifLeave == 1){
                                clz = 'yellow color';
                                color = '#fffc00';
                            } else if (ifLeave == 2) {
                                clz = 'pink color';
                                color = '#ff9191';
                            } else if (ifLeave == 3) {
                                clz = 'blue color';
                                color = '#3A6BCE';
                            } else if (ifLeave == 4) {
                                clz = 'deepRed color';
                                color = '#b10000';
                            } else if (ifLeave == 5) {
                                clz = 'green color';
                                color = '#00d537';
                            } else if (ifLeave == 6) {
                                clz = 'deepGreen color';
                                color = '#008121';
                            } else {
                                clz = '';
                                color = '';
                            }
                            tbody += '<td style="position: relative" tdType=shift serialNumber="' + data[i].scheduleInfoList[j].serialNumber + '" shiftName="' + data[i].scheduleInfoList[j].shiftName
                                    + '" colorStyle="'+color+'" class="' + rightMenu[j] +" "+clz+ '" data-logId="' + data[i].scheduleInfoList[j].logId
                                    + '" colorCode="#'+data[i].scheduleInfoList[j].shiftColor+'" data-scheduleInfoId="' + data[i].scheduleInfoList[j].scheduleInfoId + '" data-userId="'
                                    + data[i].userId + '" data-totalAt="' + data[i].scheduleInfoList[j].totalAt + '" data-shiftId='+data[i].scheduleInfoList[j].shiftId+' data-stationArea="'
                                    + data[i].stationArea + '" data-station="' + data[i].station + '" data-date="' + arr[j] + '" > ' + data[i].scheduleInfoList[j].shiftName + '</td>';
                        }else{
                            if(bool)
                                tbody += '<td style="position: relative" tdType=shift serialNumber=" " shiftName="" colorStyle="" class="" data-logId="" colorCode="" data-scheduleInfoId="" data-userId="" data-totalAt="' + 0+ '" data-shiftId=data-stationArea="" data-station="" data-date=""</td>';
                        }

                    }

                    var balance = '';
                    if(data[i].actualHours > 0){
                        balance = 'green';
                    } else if (data[i].actualHours < 0) {
                        balance = 'deepRed';
                    }
                    tbody += '<td>' + data[i].planHours + '</td><td>' + (data[i].planHours+data[i].actualHours) + '</td><td class="' + balance + '">' + data[i].actualHours + '</td>';
                    tbody += '</tr>';
                }
                target.find("tbody").html(tbody);
                $("td[serialNumber]").each(function () {
                    var html="";
                    var text=$(this).text();
                    var serialNumber = $(this).attr("serialNumber");
                    if (serialNumber != null && serialNumber != undefined && serialNumber != "null" && serialNumber != "") {
                        html+=serialNumber;
                    }else{
                        html+=text;
                    }
                    $(this).html(html);
                });
                $('.mask').hide();
            }
        });
    }

    //计算某个月有多少天
    function countDays(year,month){
        year = parseInt(year);
        month = parseInt(month);
        var Length = 0;
        if(month == 2){
            Length = year%4==0 ? 29 : 28;
        }else if(month == 4 || month == 6 || month == 9 || month == 11){
            Length = 30;
        }else{
            Length = 31;
        }
        return Length;
    }
    //获取当前开始日期是周几
    function getWeekDay(date){
        var arr = ['日','一','二','三','四','五','六'];
        return '星期' + arr[date.getDay()];
    }
    var colorType=['colorStyle','colorCode'];
    var currentColor=0;
    $(document).on("click","#btnToggle",function(){
        var type=colorType[currentColor++%colorType.length];
        $("td[serialNumber]").each(function () {
            var c = $(this).attr(type);
            if (c != null && c != undefined && c != "null" && c != "") {
                $(this).css("background-color",c);
            }else{
                $(this).css("background-color","#DCDEE0");
            }
        });
        $(this).text("切换颜色")
    });

    //数遍悬浮人员名字上，显示人员信息
    $(document).on('mouseover', '.scheduleForm tbody tr .userName', function(){
        var left = $(this).offset().left + $(this).width();
        var top = $(this).offset().top;
        var userId = $(this).attr('tdtype');
        $.ajax({
            type: 'get',
            url: '$path/users/'+userId,
            dataType: 'json',
            success: function(data){
                var str = '';
                if(data){
                    str += '<td>'+ data.phoneNumber +'</td>';
                    str += '<td>'+ data.homeAddress +'</td>';
                }
                $('.userInfoTarget').html(str);
            }

        })

        $('.userInfo').css({"left":left+'px',"top":top+"px"}).show();
    }).on('mouseout', '.scheduleForm tbody tr .userName',function(){
        $('.userInfo').hide();
    })

</script>
#*假期编辑*#
<script>
    function editHoliday() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/editHolidayForm?" + $("#editHolidayForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#editHoliday").modal('hide');
                queryBtn();
            }
        });
    }
</script>
#*有薪假期编辑*#
<script>
    function yeditHoliday() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/yeditHolidayForm?" + $("#yeditHolidayForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#yeditHoliday").modal('hide');
                queryBtn();
            }
        });
    };
    $("#yrsStationAreaQuery").change(function () {
        var _oneId = this.value;
        var two_obj = $('#yrsStationQuery');
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/group/querySubNodes', {oneCode: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + "<option value='" + obj.groupCode + "'>" + obj.groupName + "</option>";
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });

    $("#yrsStationQuery").change(function () {
        var _oneId = this.value;
        var _station = $("#yrsStationAreaQuery").val();
        var two_obj = $('#yreplaceUserSelect');
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/getPrepareUser', {stationArea: _station,station: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + '<option value="' + data[i].userId + '">工号:'+ data[i].userCode + " 姓名:" + data[i].userName +'</option>';
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });

    //初始化有薪假替班人员和站区站点
    function yinitReplaceShift() {
        var rsStationArea = $('#yrsStationArea').val();
        var rsStation = $('#yrsStation').val();
        var rsGroupName = $('yrsGroupName').val();

        var rsStationAreaQuery = $("#yrsStationAreaQuery");
        rsStationAreaQuery.val(rsStationArea);
        rsStationAreaQuery.change();
        var rsStationQuery = $("#yrsStationQuery");
        rsStationQuery.val(rsStation);
        rsStationQuery.change();
    }
</script>
#*零星假*#
<script>
    function lingXing() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/lingXingForm?" + $("#lingXingForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#lingXing").modal('hide');
                queryBtn();
            }
        });
    }
</script>
#*班次变更*#
<script>
    function shiftChange() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/shiftChangeForm?" + $("#shiftChangeForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#shiftChange").modal('hide');
                queryBtn();
            }
        });
    }
</script>
#*临时安排*#
<script>
    function provisionalDisposition() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/provisionalDispositionForm?" + $("#provisionalDispositionForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#provisionalDisposition").modal('hide');
                queryBtn();
            }
        });
    }
</script>
#*旷工缺勤*#
<script>
    function minersAbsenceForm() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/minersAbsenceForm?" + $("#minersAbsenceForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#minersAbsence").modal("hide");
                queryBtn();
            }
        });
    }
</script>
#*补班加班*#
<script>
    function overtimeWork() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/overtimeWorkForm?" + $("#overtimeWorkForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#overtimeWork").modal("hide");
                queryBtn();
            }
        });
    }
</script>
#*替班*#
<script>
    function editReplaceShift() {
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/editReplaceShiftForm?" + $("#replaceShiftForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#replaceShift").modal('hide');
                queryBtn();
            }
        });
    }
    //取消
    function editReplaceShiftDel() {
        $("#rightMenu").addClass("hidden");
        $("#replaceShift").modal('hide');
    }
    $("#rsStationAreaQuery").change(function () {
        var _oneId = this.value;
        var two_obj = $('#rsStationQuery');
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/group/querySubNodes', {oneCode: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + "<option value='" + obj.groupCode + "'>" + obj.groupName + "</option>";
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });

    $("#rsStationQuery").change(function () {
        var _oneId = this.value;
        var _station = $("#rsStationAreaQuery").val();
        var two_obj = $('#replaceUserSelect');
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/getPrepareUser', {stationArea: _station,station: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + '<option value="' + data[i].userId + '">工号:'+ data[i].userCode + " 姓名:" + data[i].userName +'</option>';
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });

    //初始化替班人员和站区站点
    function initReplaceShift() {
        var rsStationArea = $('#rsStationArea').val();
        var rsStation = $('#rsStation').val();
        var rsGroupName = $('rsGroupName').val();

        var rsStationAreaQuery = $("#rsStationAreaQuery");
        rsStationAreaQuery.val(rsStationArea);
        rsStationAreaQuery.change();
        var rsStationQuery = $("#rsStationQuery");
        rsStationQuery.val(rsStation);
        rsStationQuery.change();
    }
</script>
#*调离*#
<script>
    //调离
    function leaveShift(){
        jQuery.ajax({
            async: false,
            type: "post",
            url: "$path/editLeaveShiftForm?" + $("#leaveShiftForm").serialize(),
            data: null,
            dataType: "json",
            error: function () {
                Alert('fail', "网络错误");
            },
            success: function (result) {
                Alert(result.data, result.message);
                $("#rightMenu").addClass("hidden");
                $("#leaveShift").modal('hide');
                queryBtn();
            }
        });
    }
    //调离取消
    function editLeaveShiftDel() {
        $("#rightMenu").addClass("hidden");
        $("#leaveShift").modal('hide');
    }
    //初始化调离人员和站区站点
    function initLeaveShift() {
        var leStationArea = $('#leStationArea').val();
        var leStation = $('#leStation').val();
        var leGroupName = $('leGroupName').val();

        var leStationAreaQuery = $("#leStationAreaQuery");
        leStationAreaQuery.val(leStationArea);
        leStationAreaQuery.change();
        var leStationQuery = $("#leStationQuery");
        leStationQuery.val(leStation);
        leStationQuery.change();
    }

    $("#leStationAreaQuery").change(function () {
        var _oneId = this.value;
        var two_obj = $('#leStationQuery');
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/group/querySubNodes', {oneCode: _oneId}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + "<option value='" + obj.groupCode + "'>" + obj.groupName + "</option>";
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });

    $("#leStationQuery").change(function () {
        var startAt = '';
        var endAt = '';
        if($('#tab1').hasClass('active')){
            startAt = $('#startAt').val();
            endAt = $('#endAt').val();
        }else{
            var date = $('#monthDate').val();
            var year = date.substring(0,4);
            var month = date.substring(5);
            var days = countDays(year,month);
            startAt = year+'-'+month+'-1';
            endAt = year+'-'+month+'-'+days;
        }
        var _oneId = this.value;
        var _station = $("#leStationAreaQuery").val();
        var two_obj = $('#leplaceUserSelect');
        var _postName = $('#lePostName').val();
        var _html = "<option value=''>请选择</option>";
        $.ajaxSettings.async = false;
        $.getJSON('$path/getLeaveUser', {stationArea: _station,station: _oneId,postName:_postName,startAt: startAt,endAt: endAt}, function (data) {
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    _html = _html + '<option value="' + data[i].userId + '">工号:'+ data[i].userCode + " 姓名:" + data[i].userName +'</option>';
                }
            }
            two_obj.html(_html);
        });
        $.ajaxSettings.async = true;
    });
</script>
#*撤销操作*#
<script>
    $('.cancelHandle').click(function(){
        var infoId = window.localStorage.getItem('infoId');
        $.ajax({
            type: 'delete',
            url: '$path/formRevoke?infoId='+infoId,
            dataType: 'json',
            success: function(data){
                Alert(data.type,data.message);
                queryBtn();
            }

        })
    })
</script>
</body>
</html>